# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Environments
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
.history/

# Pytest
.pytest_cache/
.cache/

# MacOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage

# Playwright
playwright-report/
trace/
